<section>
    <h2>Create your own room</h2>
    <form action="/create-room" method="POST">
        <label class="sr-only" for="room-pass">Enter a password</label>
        <input type="password" name="password" id="room-pass" placeholder="Enter a password">
        <button>
            <img src="images/users-white.svg" alt="Create the room">
            Create Room
            </button>
    </form>
</section>