<section>
    <h2>Enter as a guest</h2>
    <form action="/enterroom" method="POST">
        <label class="sr-only" for="room-id">Room ID</label>
        <input name="roomId" type="number" id="room-id" placeholder="Room ID">
        <button>
            <img src="images/enter-room.svg" alt="Enter room">
            Enter room
         </button>
    </form>
</section>

<div class="separator">
    <div></div>
    <div>or</div>
    <div></div>
</div>

<section>
     <h2>Easily create your own room</h2>
     <a href="/create-pass" class="button outlined">
        <img src="images/users.svg" alt="Create room"> 
        Create room              
     </a>
</section>