<div class="no-questions">
    <img src="/images/noquestions.svg" alt="No questions">
    <p>No questions here yet...</p>
    <p>Insert your first question and send<br> this Room's ID to your friends!</p>
</div>